main {
    text-align: center;
}

.cronometro {
    padding: 15px;
    font-family: "Orbitron", sans-serif;
    color: blue;
    font-size: 3rem;
}

button {
    margin: 15px;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.blu {
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}

.red {
    background-color: lightcoral;
    border: 1px solid lightcoral;
}

.green {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}